.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 8px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.11;
  color: #2f2f2f;
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #2f2f2f;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.buttonLogout {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--secondary-color-3);
  max-width: 100%;
}

.buttonCancel {
  background: #d7e3ff;
  color: #407bff;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 544px;
  }

  .buttonLogout {
    font-size: 18px;
    max-width: 160px;
  }
  .buttonCancel {
    font-size: 18px;
    max-width: 160px;
  }
  .buttonContainer {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .buttonContainer {
    align-self: flex-start;
  }
}
