@import url(../../index.css);

.signInFormContainer {
  position: relative;
  z-index: 1;
  max-width: 260px;
  padding: 20px;
}

.signInTitle {
  margin-bottom: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: #2f2f2f;
}

.inputLabel {
  display: block;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2f2f2f;
  text-align: left;
}

.inputField {
  width: 220px;
  padding: 12px 10px;
  margin-bottom: 16px;
  border: 1px solid #d7e3ff;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  line-height: 125%;
  color: #407bff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.inputField::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #9ebbff;
}
.inputField:focus {
  border-color: #407bff;
}

.passwordFieldWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.passwordToggleIcon {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  stroke: #2f2f2f;
  transition: stroke 0.3s;
}

.passwordToggleIcon:hover svg path {
  stroke-width: 1px;
  stroke: #407bff;
}

.submitButton {
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  font-size: 1.1rem;
  height: 44px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
}

.submitButton:hover {
  background-color: #3063cc;
}

.signUpLink {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: block;
  text-align: left;
  margin-top: 16px;
  color: #407bff;
  text-decoration: none;
}

.inputFieldWrapper {
  margin-bottom: 10px;
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -5px;
  left: 0;
  color: red;
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.2;
}

.inputFieldError {
  color: #ef5050;
  border-color: #ef5050 !important;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .submitButton {
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 0;
  }
  .signInFormContainer {
    max-width: 336px;
  }
  .inputField {
    padding: 11px 10px;
    width: 296px;
  }
}
@media screen and (min-width: 1440px) {
  .signInFormContainer {
    max-width: 384px;
  }
  .inputField {
    padding: 11px 10px;
    width: 344px;
  }
}
