.button {
  background-color: #407bff;
  border-radius: 10px;
  padding: 6px 76px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  justify-content: center;
  border: none;
}
