.baseButton {
  display: flex;
  width: 100%;
  /*max-width: 280px;*/
  height: 36px;
  background-color: var(--primary-color-blue);
  border-radius: 10px;
  padding: 10px 30px;
  color: var(--primary-color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  justify-content: center;
  text-align: center;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.baseButton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.baseButton:disabled {
  background-color: var(--secondary-color-4);
  cursor: not-allowed;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
