.form {
  display: flex;
  flex-direction: column;
}

.radioBox {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.userInfoBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userInfoinputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.userInfoText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.input {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 256px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}

.amountBox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 253px;
  height: 40px;
  margin-bottom: 24px;
}

.amountText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.amountResult {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #407bff;
  display: flex;
  gap: 4px;
}

.writeWaterBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.writeWaterText {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.12;
  color: #2f2f2f;
}

.button {
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .input {
  width : 686px;  
  }
  .amountBox {
    width: 376px;
  }
  .button {
    width: 160px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .input {
  width : 572px;  
  }
  .amountBox {
    width: 376px;
  }
  .button {
    width: 160px;
    align-self: flex-end;
  }
}