.waterRatioPanel {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  width: 592px;
  height: 90px;
  background-color: #f9f9f9;
  margin: 24px;
}

.panelHeader {
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  padding-left: 10px;
  color: #407bff;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.slider {
  flex: 1;
  width: 100%;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
}

.sliderCenterLabel {
  position: absolute;
  top: 55px; /* Відступ під слайдером */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  color: #407bff;
}

.sliderLabel {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
  color: #407bff;
}

.addWaterButton {
  padding: 10px 30px;
  background-color: #407bff;
  width: 178px;
  height: 44px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500px;
  line-height: 24px;
  text-align: center;
  margin: 25px 0 21px 23px;
  transition: background-color 0.3s;
}

.addWaterButton:hover {
  box-shadow: 0 4px 6px #407bff;
}

.addWaterButton svg {
  width: 24px;
  height: 24px;
  fill: white;
}

@media (max-width: 1440px) {
  .waterRatioPanel {
    width: 704px;
  }
}

@media (max-width: 768px) {
  .waterRatioPanel {
    width: 100vw;
    height: auto;
    padding: 8px;
  }

  .sliderContainer {
    width: 356px;
    height: 90px;
  }

  .slider {
    width: 100%;
  }

  .addWaterButton {
    width: 336px;
    height: 44px;
  }
}

@media (max-width: 320px) {
  .waterRatioPanel {
    flex-direction: column;
    width: 280px;
    height: 134px;
  }

  .addWaterButton {
    width: 100%;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
  }

  .sliderCenterLabel {
    top: 40px;
  }
}
