.ratioContainer {
  position: relative;
  top: 25px;
  height: 134px;
}

.waterRatioPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}

.panelHeader {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  color: var(--primary-color-blue);
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider {
  flex: 1;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #9ebbff;
}

.sliderCenterLabel {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-color-blue);
}

.addWaterButton {
  padding: 10px 30px;
  background-color: var(--primary-color-blue);
  width: 100%;
  height: 44px;
  color: var(--primary-background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  text-align: center;
  margin: 25px 0 21px 23px;
  margin-left: -1px;
  transition: background-color 0.3s;
}

.addWaterButton:hover {
  box-shadow: 0 4px 6px var(--primary-color-blue);
}

.sliderLabel {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
  color: var(--primary-color-blue);
}

.sliderCenterLabel {
  top: 40px;
}

.addIcon {
  width: 24px;
  height: 24px;
  fill: var(--primary-background-color);
}

.addWaterButtonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ratioContainer {
    top: 70px;
  }
  .waterRatioPanel {
    flex-direction: row;
    width: 708px;
    gap: 10px;
  }
  .addWaterButton {
    width: 336px;
  }

  .sliderCenterLabel {
    top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .ratioContainer {
    top: 20px;
  }

  .waterRatioPanel {
    width: 592px;
    gap: 20px;
  }

  .addWaterButton {
    width: 178px;
  }
}
