.wyDrinkWater {
  margin: 0 auto;
  width: 494px;
  height: 332px;
  background-color: var(--secondary-color-2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 2px rgba(64, 123, 255, 0.3);
  box-sizing: border-box;
}

.wyDrinkWater h2 {
  color: var(--primary-color-black);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 12px;
}

.wyDrinkWater ul {
  padding-left: 20px;
  margin: 0;

}

.wyDrinkWater li {
  color: var(--primary-color-black);
  margin-bottom: 10px;
    line-height: 20px;
    text-align: left;
}

.wyDrinkWater li::before {
  content: "•";
  /* Встановлюємо символ маркера */
  color: var(--primary-color-blue);
  /* Встановлюємо колір маркера */
  font-size: 20px;
  /* Встановлюємо розмір маркера */
  margin-right: 10px;
  /* Встановлюємо відступ між маркером і текстом */
}