/* Глобальні змінні */
:root {
  /* ========== Змінні для світлої теми ========== */
  --primary-background-color: #ffffff;
  --primary-text-color: #2f2f2f;
  --primary-color-blue: #407bff;
  --primary-color-white: #ffffff;
  --primary-color-black: #2f2f2f;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondary-color-6: #d7e3ff;

  /* ========== Змінні для темної теми ========== */
  [data-theme="dark"] {
    --primary-background-color: #2f2f2f;
    --primary-text-color: #ecf2ff;
    --primary-color-blue: #4c9bf4;
    --secondary-color-2: #2f2f2f;
    --secondary-color-4: #9ebbff;
    ;
  }

  --font-family: "Roboto",
  sans-serif;

  /* Breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --spacing-base: 16px;
  --font-size-base: 16px;
}

/* Скидання стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, Arial, sans-serif);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--primary-text-color, #000000);
  /* Встановлюємо колір тексту для теми */
  background-color: var(--primary-background-color, #ffffff);
  /* Встановлюємо колір фону для теми */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100vh;
}

/* Глобальні стилі для посилань і кнопок */
a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a {
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color-blue);
}

a:hover {
  color: var(--secondary-color-5);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* Заголовки та текст */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-color-black);
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
}

p {
  font-size: 14px;
}

/* Зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Списки */
ul,
ol {
  list-style-type: none;
}

/* Контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
}

main {
  flex: 1;
  padding: var(--spacing-base);
}

/* Хедер і футер */
.header,
.footer {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  text-align: center;
  padding:
    var(--spacing-base);
}

/* Темна тема для основних елементів */
[data-theme="dark"] body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

[data-theme="dark"] .header,
[data-theme="dark"] .footer {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
}

[data-theme="dark"] a {
  color: var(--primary-color);
}

[data-theme="dark"] a:hover {
  color: var(--secondary-text-color);
}

/* Адаптивний дизайн */


@media (max-width: var(--breakpoint-mobile)) {
  :root {
    --font-size-base: 8px;
  }

  .header,
  .footer {
    font-size: 12px;
  }
}

@media (max-width: var(--breakpoint-tablet)) {
  :root {
    --font-size-base: 16px;
    --spacing-base: 12px;
  }

  .container {
    padding: 0 calc(var(--spacing-base) / 2);
  }

  .header,
  .footer {
    text-align: left;
  }
}


@media (min-width: var(--breakpoint-desktop)) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1140px;
    padding: 32px;
  }
}