.content {
  display: flex;
  flex-direction: column;
  max-width: 544px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}

.calculateBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.calculate {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.calculateSpan {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-color-blue);
  margin-left: 4px;
}

.calculateExplainBox {
  padding: 10px;
  border: 1px solid var(--secondary-color-6);
  margin-bottom: 24px;
}

.calculateExplainText {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--calculateExplainText);
}

.calculateExplainSpan {
  color: var(--primary-color-blue);
}

.calculateRate {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #2f2f2f;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .calculateBox {
    flex-direction: row;
  }
}
