.button {
  width: 280px;
  height: 36px;
  background-color: #407bff;
  border-radius: 10px;
  padding: 8px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  border: none;
}

@media screen and (min-width: 768px) {
  .button {
    width: 336px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 384px;
    height: 44px;
  }
}
