.header {
  position: fixed;
  top: 0;
}

.container {
  width: 1216px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    margin-left: 102px;
  margin-top: 12px;
}

.navLink {
  display: flex;
  align-items: center;
}

