.hero {
  display: flex;
  width: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heroTitle {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

.heroSubtitle {
  font-size: 26px;
  line-height: 32px;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

.benefits {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  gap: 12px;
  margin-bottom: 28px;
}

.benefitsTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.benefit {
  display: flex;
  justify-items: start;
  align-items: center;
}

.icon {
  color: var(--primary-color-blue);
}

.text {
  margin-left: 10px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color-black);
}

.tryButton {
  max-width: 324px;
}

/* Медіа-запити для мобільних пристроїв */
@media screen and (max-width: 767px) {
  .heroTitle {
    font-size: 28px;
  }
  .heroSubtitle {
    font-size: 24px;
    line-height: 30px;
  }
}

/* Медіа-запити для планшетів */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .benefits {
    flex-direction: row;
    justify-content: space-between;
  }

  .tryButton {
    max-width: 336px;
  }
}
