.hero {
  display: flex;
  width: 100%;
  max-width: 439px;
  max-height: 366px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  margin-right: 81px;
}

.heroTitle {
  font-size: 36px;
  font-weight: 700;
  color: #2b4d66;
  margin-bottom: 20px;
  line-height: 42px;
}

.heroSubtitle {
  font-size: 26px;
  line-height: 32px;
  color: var(--primary-color-black);
  margin-bottom: 30px;
}

.benefits {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  gap: 12px;
}

.benefit {
  display: flex;
  justify-items: start;
  margin-left: 0;
}

.icon {
  font-size: 30px;
  color: var(--primary-color-blue);
}

.text {
  margin-left: 10px;
  line-height: 1.25;
  color: var(--primary-color-black);
}

/* Додаткові медіа-запити */

@media screen and (min-width: 320px) {
  .hero {
    max-width: 320PX;
    gap: 40px
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 600px;
  }

.heroTitle {
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 700;
  line-height: 1.25;
}

  .heroSubtitle {
      font-size: clamp(20px, 4vw, 26px);
    font-size: 30px;
    line-height: 36px;
    
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 800px;
  }

  .heroTitle {
    font-size: 48px;
    line-height: 54px;
  }

  .heroSubtitle {
    font-size: 34px;
    line-height: 40px;
  }
}