.footer {
  width: 100%;
  max-width: 1440px;
  background-color: var(--secondary-color-4);
  color: var(--secondary-color-2);
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  bottom: 0;
}