.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.11;
  color: var(--primary-text-color);
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primary-text-color);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonDelete {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--secondary-color-3);
}

.buttonCancel {
  box-shadow: none;
  background: var(--secondary-color-6);
  color: var(--primary-color-blue);
}

.buttonCancel:hover {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

@media screen and (min-width: 768px) {
  .buttonDelete {
    font-size: 18px;
    padding: 10px 30px;
  }

  .buttonCancel {
    font-size: 18px;
    padding: 10px 30px;
  }

  .buttonContainer {
    flex-direction: row-reverse;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .buttonContainer {
    align-self: flex-end;
  }
}