.container {
  height: 100%;
  width: 100%;
  padding-top: 64px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../../components/404background/BackgroundMainPage.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  text-align: center;
  color: #fff;
}

.errorCode {
  font-size: 150px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-text-color);
}

.message {
  font-size: 24px;
  margin: 10px 0 20px;
  color: var(--primary-text-color);
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-color-blue);
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.link:hover{
  text-decoration: none;
  text-underline: none;
}
