.main {
  background-color: var(--primary-color-white);
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image:
    url('/src/assets/images/bottle.png'),
    url('/src/assets/images/background-deskt.png'),
    url('/src/assets/images/Group\ 15.svg');
  background-size: 374px, cover, cover;
  background-position:
    bottom 24px left 1016px,
    bottom center,
    center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-blend-mode: normal, normal, normal;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1014px;
  height: 366px;
  margin: 140px auto;
  padding: 20px;
}


.text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color-black);
}


button:hover {
  background-color: var(--secondary-color-5);
}