.slider {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--secondary-color-2);
  border: #082a37 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider--light {
  background-color:var(--primary-color-white);
}

.slider--dark {
  background-color: var(--secondary-color-4);
  /* Чорний фон для темної теми */
}

.thumb {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: left 0.3s ease, background-color 0.3s ease;
}

.slider--light .thumb {
  left: 5px;
  background-color: #0c303e;
}

.slider--dark .thumb {
  left: 33px;
  background-color: var(--primary-color-white);;
}

.knob {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-background-color);;
}
