.slider {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--secondary-color-2);
  border: var(--primary-text-color) 2px solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider:hover .centralKnob {
  opacity: 1;
}

.slider--light {
  background-color: var(--primary-color-white);
}

.slider--dark {
  background-color: var(--secondary-color-4);
}

.thumb {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: left 0.3s ease, background-color 0.3s ease;
}

.slider--light .thumb {
  left: 5px;
  background-color: var(--primary-background-color);
}

.slider--dark .thumb {
  left: 33px;
  background-color: var(--primary-color-white);
}

.knob {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}

.centralKnob {
  background-color: var(--primary-background-color);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.centralKnob:hover {
  background-color: var(--primary-text-color);
}