.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: var(--primary-background-color);
  border-radius: 10px;
  padding: 24px 12px;
  min-width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modalClose {
  position: absolute;
  top: 28px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modalContent {
    min-width: 704px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modalContent {
    min-width: 592px;
  }
}