.modalTitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  color: #2f2f2f;
  margin-bottom: 24px;
}

.inputTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #2f2f2f;
}

.amountTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.buttons {
  border: 1px solid #9ebbff;
  border-radius: 30px;
  padding: 10px;
  width: 44px;
  height: 44px;
  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.2);
  background: #fff;
  color: #9ebbff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.buttons:hover {
  background: #9ebbff;
  color: #fff;
  border-color: #7aa6ff;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.4);
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 7px;
}

.waterAmountText {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #407bff;
}

.waterAmountContainer {
  border-radius: 40px;
  padding: 6px 10px;
  width: 92px;
  height: 36px;
  background-color: #d7e3ff;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputTime {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputValue {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 120px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}

.valueLabel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;
}

.waterAmountLabel {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #407bff;
}

.modalActions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.saveButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .inputValue {
    width: 100%;
  }
  .modalActions {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-end;
    align-items: baseline;
  }
  .saveButton {
    border-radius: 10px;
    padding: 10px 30px;
    width: 160px;
    height: 44px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
  }
}
