.section {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: visible;
}

.picture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 180%);
  max-width: 300px;
  width: 100%;
  z-index: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.signInForm {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .picture {
    max-width: 645px;
    top: 0;
    left: 100%;
    transform: translate(-90%, 20%);
  }

  .section {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    display: flex;
    padding: 0 100px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .picture {
    max-width: 916px;
    top: 0;
    left: 30%;
    transform: translate(-50%, 0%);
  }

  .section {
    padding-top: 162px;
    justify-content: flex-end;
  }

  .signInForm {
    left: auto;
    transform: none;
  }
}


.background {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 1404px;
  height: 582px;
  background-image: url("../../assets/images/background-deskt.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

/* Медіа-запити для мобільних пристроїв */
@media screen and (max-width: 767px) {
  .background {
    background-image: url("../../assets/images/background-mobil.png");
  }
}

/* Медіа-запити для планшетів */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .background {
    background-image: url("../../assets/images/background-tabl.png");
  }
}
