.section {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: visible;
}

.picture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 180%);
  max-width: 300px;
  width: 100%;
  z-index: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.signInForm {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .picture {
    max-width: 645px;
    top: 80%;
    left: 62%;
    transform: translate(-50%, -50%);
  }

  .section {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    display: flex;
    padding: 0 100px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .picture {
    max-width: 916px;
    top: 53%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .section {
    padding-top: 162px;
    justify-content: flex-end;
  }

  .signInForm {
    left: auto;
    transform: none;
  }
}
