.genderChoiceGroup {
    margin-bottom: 24px;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 12px;
    color: rgba(47, 47, 47, 1);
}

.radioContainer {
    display: flex;
}

.radioLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(47, 47, 47, 1);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.radioInput {
    display: none;
}

.radioMark {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(64, 123, 255, 1);
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
}

.radioInput:checked+.radioMark::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgba(64, 123, 255, 1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}